export(cleanupCrash)
export(createPerformance)
export(.csoundCleanup)
export(.csoundCompile)
export(.csoundCreate)
export(.csoundDestroy)
export(.csoundGetVersion)
export(.csoundPerform)
export(.csoundPerformKsmps)
export(.csoundPreCompile)
export(.csoundScoreEvent)
export(finishPerformance)
export(getCsoundError)
export(getCsoundLibrary)
export(getHeaderInfo)
export(performScoreRealTime)
export(scoreMatrices)
export(setCsoundLibrary)
export(writeCsoundScore)
import(rdyncall)
