export(csoundCleanup)
export(csoundCompile)
export(csoundCreate)
export(csoundDestroy)
export(csoundGetVersion)
export(csoundPerform)
export(csoundPerformKsmps)
export(csoundPreCompile)
export(csoundScoreEvent)
export(getCsoundLibrary)
export(setCsoundLibrary)
